In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in g:\here\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in g:\here\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Student Dropout Prediction').getOrCreate()

In [4]:
#Importing data into spark (Choose your own data for now)
data_path = "D:/Assignment/dataset.csv"
student_df= spark.read.csv(data_path, header = True, inferSchema= True)
student_df.show()

+--------------+----------------+-----------------+------+--------------------------+----------------------+-----------+----------------------+----------------------+-------------------+-------------------+---------+-------------------------+------+-----------------------+------+------------------+-----------------+-------------+-----------------------------------+-----------------------------------+--------------------------------------+-----------------------------------+--------------------------------+----------------------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+-----------------------------------+--------------------------------+----------------------------------------------+-----------------+--------------+-----+--------+
|Marital status|Application mode|Application order|Course|Daytime/evening attendance|Previous qualification|Nacionality|Mother's qualification|Father's qualification|Mother's occupation|Father's occupation|Displaced|Educational special needs|Debtor|Tuition fees up to date|Gender|Scholarship holder|Age at enrollment|International|Curricular units 1st sem (credited)|Curricular units 1st sem (enrolled)|Curricular units 1st sem (evaluations)|Curricular units 1st sem (approved)|Curricular units 1st sem (grade)|Curricular units 1st sem (without evaluations)|Curricular units 2nd sem (credited)|Curricular units 2nd sem (enrolled)|Curricular units 2nd sem (evaluations)|Curricular units 2nd sem (approved)|Curricular units 2nd sem (grade)|Curricular units 2nd sem (without evaluations)|Unemployment rate|Inflation rate|  GDP|  Target|
+--------------+----------------+-----------------+------+--------------------------+----------------------+-----------+----------------------+----------------------+-------------------+-------------------+---------+-------------------------+------+-----------------------+------+------------------+-----------------+-------------+-----------------------------------+-----------------------------------+--------------------------------------+-----------------------------------+--------------------------------+----------------------------------------------+-----------------------------------+-----------------------------------+--------------------------------------+-----------------------------------+--------------------------------+----------------------------------------------+-----------------+--------------+-----+--------+
|             1|               8|                5|     2|                         1|                     1|          1|                    13|                    10|                  6|                 10|        1|                        0|     0|                      1|     1|                 0|               20|            0|                                  0|                                  0|                                     0|                                  0|                             0.0|                                             0|                                  0|                                  0|                                     0|                                  0|                             0.0|                                             0|             10.8|           1.4| 1.74| Dropout|
|             1|               6|                1|    11|                         1|                     1|          1|                     1|                     3|                  4|                  4|        1|                        0|     0|                      0|     1|                 0|               19|            0|                                  0|                                  6|                                     6|                                  6|                            14.0|                                             0|                                  0|                                  6|                                     6|                                  6|              13.666666666666666|                                             0|             13.9|          -0.3| 0.79|Graduate|
|             1|               1|                5|     5|                         1|                     1|          1|                    22|                    27|                 10|                 10|        1|                        0|     0|                      0|     1|                 0|               19|            0|                                  0|                                  6|                                     0|                                  0|                             0.0|                                             0|                                  0|                                  6|                                     0|                                  0|                             0.0|                                             0|             10.8|           1.4| 1.74| Dropout|
|             1|               8|                2|    15|                         1|                     1|          1|                    23|                    27|                  6|                  4|        1|                        0|     0|                      1|     0|                 0|               20|            0|                                  0|                                  6|                                     8|                                  6|              13.428571428571429|                                             0|                                  0|                                  6|                                    10|                                  5|                            12.4|                                             0|              9.4|          -0.8|-3.12|Graduate|
|             2|              12|                1|     3|                         0|                     1|          1|                    22|                    28|                 10|                 10|        0|                        0|     0|                      1|     0|                 0|               45|            0|                                  0|                                  6|                                     9|                                  5|              12.333333333333334|                                             0|                                  0|                                  6|                                     6|                                  6|                            13.0|                                             0|             13.9|          -0.3| 0.79|Graduate|
|             2|              12|                1|    17|                         0|                    12|          1|                    22|                    27|                 10|                  8|        0|                        0|     1|                      1|     1|                 0|               50|            0|                                  0|                                  5|                                    10|                                  5|              11.857142857142858|                                             0|                                  0|                                  5|                                    17|                                  5|                            11.5|                                             5|             16.2|           0.3|-0.92|Graduate|
|             1|               1|                1|    12|                         1|                     1|          1|                    13|                    28|                  8|                 11|        1|                        0|     0|                      1|     0|                 1|               18|            0|                                  0|                                  7|                                     9|                                  7|                            13.3|                                             0|                                  0|                                  8|                                     8|                                  8|                          14.345|                                             0|             15.5|           2.8|-4.06|Graduate|
|             1|               9|                4|    11|                         1|                     1|          1|                    22|                    27|                 10|                 10|        1|                        0|     0|                      0|     1|                 0|               22|            0|                                  0|                                  5|                                     5|                                  0|                             0.0|                                             0|                                  0|                                  5|                                     5|                                  0|                             0.0|                                             0|             15.5|           2.8|-4.06| Dropout|
|             1|               1|                3|    10|                         1|                     1|         15|                     1|                     1|                 10|                 10|        0|                        0|     0|                      1|     0|                 1|               21|            1|                                  0|                                  6|                                     8|                                  6|                          13.875|                                             0|                                  0|                                  6|                                     7|                                  6|              14.142857142857142|                                             0|             16.2|           0.3|-0.92|Graduate|
|             1|               1|                1|    10|                         1|                     1|          1|                     1|                    14|                  5|                  8|        1|                        0|     1|                      0|     0|                 0|               18|            0|                                  0|                                  6|                                     9|                                  5|                            11.4|                                             0|                                  0|                                  6|                                    14|                                  2|                            13.5|                                             0|              8.9|           1.4| 3.51| Dropout|
|             1|               1|                1|    14|                         1|                     1|          1|                    23|                    14|                  6|                  8|        1|                        0|     0|                      1|     0|                 0|               18|            0|                                  0|                                  6|                                     6|                                  6|              12.333333333333334|                                             0|                                  0|                                  6|                                     7|                                  5|                            14.2|                                             0|             13.9|          -0.3| 0.79|Graduate|
|             1|               1|                1|    12|                         1|                     1|          1|                    13|                    28|                 10|                 10|        1|                        0|     0|                      1|     0|                 1|               18|            0|                                  0|                                  8|                                     8|                                  7|              13.214285714285714|                                             0|                                  0|                                  8|                                     8|                                  7|              13.214285714285714|                                             0|             12.7|           3.7| -1.7|Graduate|
|             1|               1|                2|    16|                         1|                     1|          1|                    13|                    27|                  5|                 10|        1|                        0|     0|                      1|     0|                 0|               19|            0|                                  0|                                  6|                                     6|                                  0|                             0.0|                                             0|                                  0|                                  6|                                     0|                                  0|                             0.0|                                             0|             12.7|           3.7| -1.7| Dropout|
|             1|              17|                1|    11|                         1|                    16|          1|                     1|                     1|                  5|                  8|        1|                        0|     0|                      1|     0|                 1|               21|            0|                                  0|                                  6|                                     7|                                  6|              10.571428571428571|                                             0|                                  0|                                  6|                                     8|                                  5|                            11.0|                                             0|              8.9|           1.4| 3.51|Graduate|
|             1|               1|                1|     6|                         1|                     1|          1|                    23|                    27|                  6|                  6|        1|                        0|     0|                      1|     0|                 1|               18|            0|                                  0|                                  5|                                     7|                                  4|                           13.25|                                             0|                                  0|                                  5|                                     5|                                  5|                            12.0|                                             0|             10.8|           1.4| 1.74|Graduate|
|             1|               1|                1|    15|                         1|                     1|          1|                    13|                    27|                 10|                  4|        1|                        0|     0|                      1|     0|                 0|               20|            0|                                  0|                                  6|                                     6|                                  5|                            13.2|                                             0|                                  0|                                  6|                                     7|                                  0|                             0.0|                                             0|             15.5|           2.8|-4.06| Dropout|
|             1|               9|                1|    10|                         1|                     1|          1|                    13|                    28|                  6|                  9|        1|                        0|     0|                      1|     0|                 0|               18|            0|                                  0|                                  6|                                    10|                                  1|                            12.0|                                             0|                                  0|                                  6|                                    14|                                  2|                            11.0|                                             0|             10.8|           1.4| 1.74|Enrolled|
|             1|               8|                2|    12|                         1|                     1|          1|                    13|                     1|                  6|                  5|        1|                        0|     0|                      1|     0|                 0|               18|            0|                                  0|                                  7|                                     8|                                  7|                        13.30625|                                             0|                                  0|                                  8|                                     8|                                  8|                          14.545|                                             0|             15.5|           2.8|-4.06|Graduate|
|             1|               1|                1|     8|                         1|                     1|          1|                     3|                    14|                  4|                  6|        1|                        0|     0|                      1|     0|                 0|               20|            0|                                  0|                                  5|                                     8|                                  4|                            12.5|                                             1|                                  0|                                  5|                                     8|                                  4|                           12.25|                                             2|             10.8|           1.4| 1.74|Graduate|
|             1|               1|                1|    16|                         1|                     1|          1|                    13|                    14|                  8|                  8|        1|                        0|     0|                      1|     0|                 0|               18|            0|                                  0|                                  7|                                     7|                                  6|              11.666666666666666|                                             0|                                  0|                                  7|                                     8|                                  6|                            13.5|                                             0|             16.2|           0.3|-0.92|Enrolled|

In [8]:
# Get the number of rows and columns
num_rows = student_df.count()
num_columns = len(student_df.columns)

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 4424
Number of columns: 35

In [9]:
#Check the schema
student_df.printSchema()

root
 |-- Marital status: integer (nullable = true)
 |-- Application mode: integer (nullable = true)
 |-- Application order: integer (nullable = true)
 |-- Course: integer (nullable = true)
 |-- Daytime/evening attendance: integer (nullable = true)
 |-- Previous qualification: integer (nullable = true)
 |-- Nacionality: integer (nullable = true)
 |-- Mother's qualification: integer (nullable = true)
 |-- Father's qualification: integer (nullable = true)
 |-- Mother's occupation: integer (nullable = true)
 |-- Father's occupation: integer (nullable = true)
 |-- Displaced: integer (nullable = true)
 |-- Educational special needs: integer (nullable = true)
 |-- Debtor: integer (nullable = true)
 |-- Tuition fees up to date: integer (nullable = true)
 |-- Gender: integer (nullable = true)
 |-- Scholarship holder: integer (nullable = true)
 |-- Age at enrollment: integer (nullable = true)
 |-- International: integer (nullable = true)
 |-- Curricular units 1st sem (credited): integer (nullable = true)
 |-- Curricular units 1st sem (enrolled): integer (nullable = true)
 |-- Curricular units 1st sem (evaluations): integer (nullable = true)
 |-- Curricular units 1st sem (approved): integer (nullable = true)
 |-- Curricular units 1st sem (grade): double (nullable = true)
 |-- Curricular units 1st sem (without evaluations): integer (nullable = true)
 |-- Curricular units 2nd sem (credited): integer (nullable = true)
 |-- Curricular units 2nd sem (enrolled): integer (nullable = true)
 |-- Curricular units 2nd sem (evaluations): integer (nullable = true)
 |-- Curricular units 2nd sem (approved): integer (nullable = true)
 |-- Curricular units 2nd sem (grade): double (nullable = true)
 |-- Curricular units 2nd sem (without evaluations): integer (nullable = true)
 |-- Unemployment rate: double (nullable = true)
 |-- Inflation rate: double (nullable = true)
 |-- GDP: double (nullable = true)
 |-- Target: string (nullable = true)

In [15]:
#check missing data
for col in student_df.columns:
    print(col.ljust(20), student_df.filter(student_df[col].isNull()).count())

Marital status       0
Application mode     0
Application order    0
Course               0
Daytime/evening attendance 0
Previous qualification 0
Nacionality          0
Mother's qualification 0
Father's qualification 0
Mother's occupation  0
Father's occupation  0
Displaced            0
Educational special needs 0
Debtor               0
Tuition fees up to date 0
Gender               0
Scholarship holder   0
Age at enrollment    0
International        0
Curricular units 1st sem (credited) 0
Curricular units 1st sem (enrolled) 0
Curricular units 1st sem (evaluations) 0
Curricular units 1st sem (approved) 0
Curricular units 1st sem (grade) 0
Curricular units 1st sem (without evaluations) 0
Curricular units 2nd sem (credited) 0
Curricular units 2nd sem (enrolled) 0
Curricular units 2nd sem (evaluations) 0
Curricular units 2nd sem (approved) 0
Curricular units 2nd sem (grade) 0
Curricular units 2nd sem (without evaluations) 0
Unemployment rate    0
Inflation rate       0
GDP                  0
Target               0

In [21]:
student_df = student_df.withColumnRenamed("Nacionality", "Nationality")
student_df.limit(5).toPandas()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nationality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
spark.stop()